.btn{
    background-color: var(--main-color);
    color: #fff;
    font-family: 'Raleway', sans-serif;
    border: none;
    border: 5px solid var(--main-color);
    cursor: pointer;
    padding: 8px 25px;
    font-weight: 700;
}

.btn:hover{
    background-color: var(--main-color-dark);
    border: 5px solid var(--main-color-dark);
}

.btn_light{
    background: linear-gradient(180deg, rgba(255,255,255,0.4), rgba(220,220,220,0.1));
    border: 5px solid #fff;
    color: #fff;
}

.btn_light:hover{
    border: 5px solid #fff;
    background: linear-gradient(0deg, rgba(255,255,255,0.4), rgba(220,220,220,0.1));
}