.error{
    border: 2px solid red;
    padding: 10px 50px;
    background-color: #ff0f0f;
    color: #fff;
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.error p{
    padding: 10px;
}

.error svg{
    height: 20px;
}
